{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Article "{{ object.title }}" Detail</h2>
<p>author: {{ object.author }}</p>
<p>content: {{ object.content }}</p>
<p>date and time: {{ object.date_time }}</p>
<a href="update/">Edit</a>
<a href="../">Back</a>

{% endblock %}