{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Create your article</h2>

<form action='.' method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save' /> 
    </form>

{% endblock %}