{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Article List</h2>

{% for instance in object_list %}
    <p>title: {{ instance.id }} -- {{ instance.title }}</p>
    <p>author: {{ instance.author }}</p>
    <p>date/time: {{ instance.date_time }}</p>
    <p><a href="{{ instance.get_absolute_url }}">details</a></p>
    <br>
{% endfor %}

{% endblock %}