{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Create item here</h2>

<form action='.' method='POST'> {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Save' /> 
</form>

{% endblock %}