{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Test</h1>
    <p>test 1 2 3 ...</p>
    <p>user :{{ user.first_name }}</p>
    <p>email :{{ user.email }}</p>
    <p>is authenticated:{{ user.is_authenticated }}</p>
    <p>animal: {{ animal }}</p>
    <p>weapon: {{ weapon }}</p>
    <p>health: {{ health }}</p>
    <br>
    <img src="{% static 'dog.jpg' %}" width="100px" height="100px">

    <!-- <a href="{% url 'homepage:index' %}">...</a> -->
{% endblock %}