{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="." method="POST">{% csrf_token %}
    <h1>Are you sure you want to delete the item {{ object.name }}???</h1>
    <p><input type="submit" value="Yes" /> 
        <br>
        <a href="../">Cancel</a>
    </p>
</form>


{% endblock %}