{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>Item</h3>
<p>id : {{ object.id }}</p>
<p>name : {{ object.name }}</p>
{% if object.description is not None %}
    <p>description : {{ object.description }}</p> 
{% else %}
    <p>coming soon</p>
{% endif %}
<p>price : {{ object.price }}</p>
<br>
<a href="../../item/{{ object.id }}/delete/">Delete Item</a>

{% endblock %}