{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>Item List</h3>

{% for instance in item_list %}
    <p>{{ instance.id }} -- {{ instance.name }}</p>
    <p>{{ instance.description }}</p>
    <p>{{ instance.price }}</p>
    <p><a href="{{ instance.get_absolute_url }}">Item page</a></p>

{% endfor %}

{% endblock %}