{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Library</h1>
    <h3>sssshhh...</h3>
    <br>
    <br>
    <h4>List of books:</h4>
    <p>History :</p>
    <ul>
    {% for books in history %}
        <li>{{ books }}</li>
    {% endfor %}
    </ul>
    <br>
    <p>Geography</p>
    <ul>
    {% for books in geography %}
        <li>{{ forloop.counter }} - {{ books }}</li>
    {% endfor %}
    </ul>
    <br>
    <p>Chinese Cartoon</p>
    <ul>
    {% for books in chinese_cartoon %}
        <li>{{ books }}</li>
    {% endfor %}
    </ul>
    <br>
    <p>Number of available room</p>
    <ul>
    {% for num in codes %}
        {% if num == 69 %}
            <li>{{ num|add:69351 }} noice...</li>
        {% else %}
            <li>{{ num }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <br>
    {{ test_html|safe }}
    {{ test_html|striptags }}
    <br>
    <p>ref for built in templates : https://docs.djangoproject.com/en/3.1/ref/templates/builtins/</p>

{% endblock %}