<nav>
    <ul>
        <li><a href="{% url 'homepage:index' %}"> Home </a></li>
        <li><a href="{% url 'homepage:library' %}"> Library </a></li>
        <li><a href="{% url 'homepage:itemlist' %}"> Items </a></li>
        <li><a href="{% url 'homepage:createitem' %}"> Create Item </a></li>
        <li><a href="{% url 'blog:article-list' %}"> Create Item </a></li>
        <li>Enemy</li>
    </ul>
</nav>